body {
    display: flex;
    margin: 0em;
}

#img-block{
    width: 50vw;
    
}

#info-block {
    width: 50vw;
}

#background {
    background-image: url("images/landscape.jpg");
    background-color: orange;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#banner {
    display: flex;
    position: absolute;
    left: 0em;
    top: 10em;
    background-color: rgb(0, 0 , 0, 0.3);
    width: max(50vw);
    justify-content: center;
    align-items: center;
}

#logo {
    max-height: 8vh;
}

h1 {
    font-family: "Black Ops One","Open Sans",Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-style:normal;
    font-weight: 400;
    
}

#info-block {
    font-family:Arial, Helvetica, sans-serif;
}

#form-bar {
    background-color: lightgrey;
    margin-top:1em;
    margin-bottom: 1em;
}